


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Resturent</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
     
        <a class="nav-item nav-link" href="add">Add Resturent</a>
      
        <!-- <a class="nav-item nav-link"  href="update/:id">Update Resturent</a> -->
     
        <a class="nav-item nav-link"  href="">List Resturent</a>
      
        <a class="nav-item nav-link"  href="login">Login Resturent</a>
   
        <a class="nav-item nav-link"  href="register">Register Resturent</a>
    </div>
  </div>
</nav> 
<div class="container"><router-outlet></router-outlet></div>

